
#otsikko{
    background-color: salmon;
}

#row{
    text-align: center;
}

#a{
    background-color: bisque;
}

#b{
    background-color: bisque;
}

#otsikko2{
    background-color: aquamarine;

}

#amogus{
    word-spacing: 0.5cm;
    padding:1cm

}

